          <div class="col-md-12">
            <div class="alert alert-success" *ngIf="success">
              {{successMsg}}
              </div>
              <form name="crudBlogForm" id="crudBlogForm" novalidate [formGroup]='crudBlogForm'>
                <div class="form-group  floating-label-form-group controls">
                            <label for="name">Title</label>
                            <input formControlName="title" type="text" class="form-control" placeholder="Title" id="title" [required]="!crudBlogForm.get('title').valid">
                            <div *ngIf="!crudBlogForm.get('title').valid && crudBlogForm.get('title').touched"
                            class="alert alert-danger">Please enter your Title</div>
                        </div>
                        <div class="form-group floating-label-form-group controls">
                            <label for="name">Video id</label>
                            <input formControlName="vidUrl" type="text" class="form-control" placeholder="Video id" id="vidUrl" [required]="!crudBlogForm.get('vidUrl').valid">
                            <div *ngIf="!crudBlogForm.get('vidUrl').valid && crudBlogForm.get('vidUrl').touched"
                            class="alert alert-danger">Please enter your the url of the video</div>
                        </div>
                        <div class="form-group floating-label-form-group controls">
                            <label for="name">Script</label>
                            <input formControlName="script" type="text" class="form-control" placeholder="script" id="script" [required]="!crudBlogForm.get('script').valid">
                            <div *ngIf="!crudBlogForm.get('script').valid && crudBlogForm.get('script').touched"
                            class="alert alert-danger">Please enter your the script for the video</div>
                        </div>
                        <input formControlName="_id" type="hidden"  id="_id">
                        <input formControlName="index" type="hidden"  id="index">

                    <br>
                    <div id="success"></div>
                        <div *ngIf="state === 'CREATING'" class="text-center">
                            <button type="button" class="btn btn-lg btn-success" (click)="onSubmitForm('CREATING')" [disabled]="!crudBlogForm.valid">Add Entry</button>
                        </div>
                        <div class="container">
                          <div *ngIf="state === 'UPDATING'" class="row text-center">
                          <div class="col-md-6">
                              <button type="button" class="btn btn-lg btn-primary mgb-5" (click)="onSubmitForm('UPDATING')" [disabled]="!crudBlogForm.valid">Update Entry</button>
                          </div>
                          <div class="col-md-6">
                              <button type="button" class="btn btn-lg btn-danger" (click)="onSubmitForm('DELETING')" [disabled]="!crudBlogForm.valid">Delete Entry</button>
                          </div>
                        </div>
                        </div>


                </form>
            </div>
