<div id="contact" #contactD style="clear:both">
<div class="container">
                    <h2>Add Blog</h2>

                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <div class="row">

              <div class="col-md-8 col-md-offset-2">

                <div class="alert alert-success" *ngIf="success">
                  Your Blog has been uploaded
                </div>
              <form name="addBlogForm" id="addBlogForm" novalidate [formGroup]='addBlogForm' (ngSubmit)="submitForm()">
                      <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="name">Title</label>
                            <input formControlName="title" type="text" class="form-control" placeholder="title" id="title" [required]="!addBlogForm.get('title').valid">
                            <div *ngIf="!addBlogForm.get('title').valid && addBlogForm.get('title').touched"
                            class="alert alert-danger">Please enter your Title</div>
                        </div>
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="name">vidUrl</label>
                            <input formControlName="vidUrl" type="text" class="form-control" placeholder="title" id="vidUrl" [required]="!addBlogForm.get('vidUrl').valid">
                            <div *ngIf="!addBlogForm.get('vidUrl').valid && addBlogForm.get('vidUrl').touched"
                            class="alert alert-danger">Please enter your the url of the video</div>
                        </div>
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="name">Script</label>
                            <input formControlName="script" type="text" class="form-control" placeholder="script" id="script" [required]="!addBlogForm.get('script').valid">
                            <div *ngIf="!addBlogForm.get('script').valid && addBlogForm.get('script').touched"
                            class="alert alert-danger">Please enter your the script for the video</div>
                        </div>
                    </div>

                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-lg" [disabled]="!addBlogForm.valid">Send</button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
      </div>
  </div>
