/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.main-container{
  margin-top: 100px;
}
.mgt-5{
  margin-top: 5px!important;
}
.mgt-10{
  margin-top: 10px!important;
}
.mgb-5{
  margin-bottom: 5px!important;
}
.mgb-10{
  margin-bottom: 10px!important;
}
